html{
  font-size: 15px;
}

body{
  background-image: url(../images/bg4.png);
  font-family: 'Open Sans', Arial;
}

main {
  margin: 0 auto;
  max-width: 1024px;
  margin-top: 30px;
} 
 
a{
  text-decoration: none;
}

.profile {
  overflow: hidden;
  background-color: #e3e3e8;
  box-shadow: 0 0 5px;		
}

.about {
  float: left;
  margin-top: 3%;
  width: 40%;
  margin-left: 5%;
}

.about .photo-inner {
  float: left;
  background: url(../images/photo-inner.png) no-repeat;
  width: 192px;
  height: 212px;
  padding: 12px 0 0 20px;
}

.about .photo-inner img {
  background-color: #ffffff;
}

.about h1 {
  font-weight: 900;
  font-size: 2rem;
  line-height: 2rem;
  color: #581a1a;
  margin-top: 5%;
}

.about p {
  margin-top: 5%;
  font-size: 1rem;
  color: #581a1a;
  line-height: 1rem;
}

.personal-info {
  float: left;
  margin-top: 3%;
  width: 40%;
  min-height: 230px;
  margin-left: 3%;
  background:url(../images/personal-info-sep.png) no-repeat left top;
  padding: 12px 0 0 20px;
}

.personal-info li {
  font-size: 1rem;
  margin-bottom: 3%;
  overflow: hidden;
}

.personal-info li label {
  color: #581a1a;
  background-color: #e2c6c6;
  float: left;
  padding: 4px 7px;
  border-radius: 3px;
}

.personal-info li span {
  float: right;
  width: 50%;
  color: #581a1a;
  padding: 4px 7px;
}

.resume {
  padding: 5%;
  overflow: hidden;
}

.main-heading{
  font-size: 2rem;
}

.skills-section, .timeline-section {
  float:left;
}

.timeline-section {
  width: 50%;
  padding-right: 5%;
}

.timeline {
  padding-top: 5%;
  width: 80%;
}

.timeline li {
  margin-bottom: 15%;
  float: left;
  width: 90%;
}

.timeline li .timelineUnit {
  display: block;
  width: 100%;
  float: left;
  line-height: 1rem;
  margin-left: 3%;
  color: #444;
  font-size: 1rem;
  border-left: 1px solid #fadc66;
  padding-left: 5%;
}

.timeline li .timelineUnit .timelineDate {
  float: right;
  line-height: 2rem;
  color: #581a1a;
  font-size: 1rem;
  margin-left: 3%;
  font-weight: normal;
  padding: 2px 6px;
}

.timeline li .timelineUnit h3 {
  line-height: 2rem;
  font-size: 1.5rem;
  color: #444444;
}

.timeline li .timelineUnit h4 {
  line-height: 1.5rem;
  font-size: 1rem;
  color: #999999;
}

.timeline li .timelineUnit p {
  color: #666666;
  font-size: 1rem;
  margin-top: 3%;
  text-align: justify;
}

.skills-section {
  width: 40%;
}

.skills {
  margin-top: 10%;
  overflow: hidden;
  height: 100%;
}

.skills li {
  margin-bottom: 15px;
  float: left;
  padding-left: 30px;
}
.skills li h4 {
  width: 140px;
  float: left;
  font-size: 15px;
  color: #444444;
}
.skills li .rat0, 
.skills li .rat1, 
.skills li .rat2, 
.skills li .rat3, 
.skills li .rat4, 
.skills li .rat5, 
.skills li .rat6, 
.skills li .rat7 {
  width: 123px;
  height: 14px;
  float: left;
}

.skills li .rat0 {
  background: url(../images/rats.png) no-repeat;
}

.skills li .rat1 {
  background: url(../images/rats.png) no-repeat 0px -14px;
}

.skills li .rat2 {
  background: url(../images/rats.png) no-repeat 0px -28px;
}

.skills li .rat3 {
  background: url(../images/rats.png) no-repeat 0px -42px;
}

.skills li .rat4 {
  background: url(../images/rats.png) no-repeat 0px -56px;
}

.skills li .rat5 {
  background: url(../images/rats.png) no-repeat 0px -70px;
}

.skills li .rat6 {
  background: url(../images/rats.png) no-repeat 0px -84px;
}

.skills li .rat7 {
  background: url(../images/rats.png) no-repeat 0px -98px;
}

footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    padding: 10px;
    height: 40px;
    background-color: #e3e3e8;
    box-shadow: 0 0 5px;	
    vertical-align: middle;
}

.social_img{
    width: 55px;
    height: 55px;
    background:  url(../images/social-icons_copy.png) no-repeat;
    border-radius: 10px;
}

.vk{
    background-position: -339px -48px;;
    cursor: pointer;
}

.telegramm{
    background-position: -267px -192px;;
    cursor: pointer;
}

.github{
    background-position: -195px -337px;
    cursor: pointer;
}

.social-links a:hover {
    background-color:#2a2d2e;
}

.text_footer{
    font-size: 1.5em;
    color:#2a2d2e;
    align-items: center;
}